In [37]:
import pandas as pd
import numpy as np

df_price=pd.read_csv("TSLA.csv")

In [38]:
df_price.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  12/10/2010  4.040  4.056  4.006  4.048      4.048  1220000
1  13/10/2010  4.128  4.170  4.072  4.108      4.108  1591000
2  14/10/2010  4.200  4.206  4.080  4.150      4.150  1474000
3  15/10/2010  4.178  4.180  4.050  4.108      4.108  1423500
4  18/10/2010  4.104  4.128  4.044  4.046      4.046   814000

In [48]:
df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2517 non-null   object
 1   Open       2517 non-null   float64
 2   High       2517 non-null   float64
 3   Low        2517 non-null   float64
 4   Close      2517 non-null   float64
 5   Adj Close  2517 non-null   float64
 6   Volume     2517 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 137.8+ KB

In [50]:
df_price["Movement"]=df_price["Open"]-df_price["Close"]

In [54]:
df_price.loc[df_price['Movement'] < 0, 'Status'] = 0
df_price.loc[df_price['Movement'] > 0, 'Status'] = 1

In [55]:
df_price.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Movement,Status
0,12/10/2010,4.040,4.056,4.006,4.048,4.048,1220000,-0.008,0.0
1,13/10/2010,4.128,4.170,4.072,4.108,4.108,1591000,0.020,1.0
2,14/10/2010,4.200,4.206,4.080,4.150,4.150,1474000,0.050,1.0
3,15/10/2010,4.178,4.180,4.050,4.108,4.108,1423500,0.070,1.0
4,18/10/2010,4.104,4.128,4.044,4.046,4.046,814000,0.058,1.0

In [68]:
df=pd.read_csv("tsla.us.txt",sep=",",names=['TICKER','PER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','OPENINT'])

In [70]:
df.head()

,TICKER,PER,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL,OPENINT
0,TSLA.US,5,20200831,153000,444.61,450.49,440.11,447.029,1766358,0
1,TSLA.US,5,20200831,153500,447.04,447.80,441.21,442.160,661342,0
2,TSLA.US,5,20200831,154000,442.08,452.28,440.71,452.149,722964,0
3,TSLA.US,5,20200831,154500,451.84,459.53,450.05,459.408,1570773,0
4,TSLA.US,5,20200831,155000,459.20,461.00,455.50,456.410,1346307,0

In [22]:
import pandas as pd
import numpy as np
import datetime

from Tools import *

In [24]:
df_news=pd.read_csv("TeslaNews3.csv")
date=df_news["Dates"][0]


df_news['NewDates'] = pd.to_datetime(df_news['Dates'])
df_news['NewDates'] = df_news['NewDates'].dt.tz_localize('US/Eastern').dt.tz_convert('UTC')
df_news['NewDates'] = df_news['NewDates'].apply(lambda x: datetime.datetime.replace(x, tzinfo=None))

In [26]:
x=datetime.datetime.date(df_news["NewDates"][0])
print(x.strftime("%d/%m/%Y"))
print(type(x))

27/04/2020
<class 'datetime.date'>

In [28]:
#df_news["Dates"]=datetime.strptime(df_news["Dates"],"%d/%m/%Y")
df_news['NewDates'] = df_news['NewDates'].apply(lambda x: datetime.datetime.strftime(x, "%d/%m/%Y"))

In [29]:
df_news.head()

,Unnamed: 0,Dates,Text,Link,NewDates
0,0,"Apr 27, 2020 11:51AM EDT",By C Nivedita and Medha SinghApril 27 (Reuters...,https://www.nasdaq.com/articles/wall-street-ga...,27/04/2020
1,1,"Apr 27, 2020 11:31AM EDT",This week looks set to be a big one for stocks...,https://www.nasdaq.com/articles/big-earnings-t...,27/04/2020
2,2,"Apr 27, 2020 11:24AM EDT",Shares of electric-car maker Tesla (NASDAQ: TS...,https://www.nasdaq.com/articles/why-tesla-stoc...,27/04/2020
3,3,"Apr 27, 2020 10:23AM EDT","\nIn early trading on Monday, shares of Tesla ...",https://www.nasdaq.com/articles/nasdaq-100-mov...,27/04/2020
4,4,"Apr 27, 2020 10:17AM EDT",(RTTNews) - Tesla has asked some employees to ...,https://www.nasdaq.com/articles/tesla-reported...,27/04/2020

In [80]:
df_price=pd.read_csv("TSLA.csv")

In [88]:
pd.concat([df_news,df_price],axis=1,join="inner")

,Unnamed: 0,Dates,Text,Link,NewDates,Date,Open,High,Low,Close,Adj Close,Volume
0,0,"Oct 13, 2020 7:41AM EDT",Eikon search string for individual stock moves...,https://www.nasdaq.com/articles/buzz-u.s.-stoc...,13/10/2020,12/10/2010,4.040000,4.056000,4.006000,4.048000,4.048000,1220000
1,1,"Oct 13, 2020 7:11AM EDT","Back in 1993, when drugmaker Amarin's (NASDAQ:...",https://www.nasdaq.com/articles/the-top-2-cont...,13/10/2020,13/10/2010,4.128000,4.170000,4.072000,4.108000,4.108000,1591000
2,2,"Oct 13, 2020 7:06AM EDT",Electric vehicle pioneer Tesla (NASDAQ: TSLA) ...,https://www.nasdaq.com/articles/forget-tesla-i...,13/10/2020,14/10/2010,4.200000,4.206000,4.080000,4.150000,4.150000,1474000
3,3,"Oct 13, 2020 6:22AM EDT",Oct 13 (Reuters) - Tesla Inc TSLA.Osaid on Tue...,https://www.nasdaq.com/articles/tesla-cuts-pri...,13/10/2020,15/10/2010,4.178000,4.180000,4.050000,4.108000,4.108000,1423500
4,4,"Oct 13, 2020 5:28AM EDT","Adds details, backgroundBEIJING, Oct 13 (Reute...",https://www.nasdaq.com/articles/audi-to-launch...,13/10/2020,18/10/2010,4.104000,4.128000,4.044000,4.046000,4.046000,814000
...,...,...,...,...,...,...,...,...,...,...,...,...
966,966,"Aug 11, 2020 2:07PM EDT","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/electrameccani...,11/08/2020,14/08/2014,52.498001,52.599998,51.299999,52.276001,52.276001,20633000
967,967,"Aug 11, 2020 12:46PM EDT",Aspiring luxury electric vehicle (EV) maker Lu...,https://www.nasdaq.com/articles/lucid-motors-s...,11/08/2020,15/08/2014,52.296001,52.417999,51.700001,52.402000,52.402000,19339500
968,968,"Aug 11, 2020 11:10AM EDT","Adds executive quotes, updates share price mov...",https://www.nasdaq.com/articles/chinese-ev-mak...,11/08/2020,18/08/2014,52.650002,53.452000,51.950001,51.987999,51.987999,29246000
969,969,"Aug 11, 2020 10:52AM EDT","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/roku-stock-buy...,11/08/2020,19/08/2014,51.773998,51.866001,50.324001,51.352001,51.352001,26674000
970,970,"Aug 11, 2020 10:35AM EDT","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/heres-what-the...,11/08/2020,20/08/2014,50.933998,51.748001,50.599998,51.141998,51.141998,15139500