In [159]:
import pandas as pd
import numpy as np
import datetime
from Tools import *

#df_price=pd.read_csv("TSLA.csv")
#df_price["Movement"]=df_price["Open"]-df_price["Close"]
#df_price.loc[df_price['Movement'] < 0, 'Status'] = 0
#df_price.loc[df_price['Movement'] > 0, 'Status'] = 1

Format Time columns

In [160]:
def format_time(dfTime):
    x=[]
    for i in dfTime:
        i=str(i)
        new_i=""
        count=1
        for j in i:
            if count%2==0 and count!=len(i):
                new_i+=j
                new_i+=":"
            else:
                new_i+=j
            count+=1
        x.append(new_i)
    xy=pd.Series(x)
    return xy

In [161]:
df=pd.read_csv("tsla.us.txt",sep=",",names=['TICKER','PER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','OPENINT'])

In [162]:
df=df.drop(["PER","TICKER"],axis='columns')

In [163]:
df["DATE2"]=pd.to_datetime(df["DATE"],format="%Y%m%d")

In [164]:
df["DATE2"]=df["DATE2"].apply(lambda x: datetime.datetime.strftime(x, "%d/%m/%Y"))

In [165]:
df["TIME2"]=format_time(df["TIME"])

In [166]:
df["MOVE"]=df["OPEN"]-df["CLOSE"]
df.loc[df['MOVE'] < 0, 'STATUS'] = -1
df.loc[df['MOVE'] > 0, 'STATUS'] = 1
df.loc[df['MOVE'] == 0, 'STATUS'] = 0
df["PERC"]=(df["MOVE"]*100)/df["OPEN"]

In [167]:
df["CCCC"]=df["DATE2"]+" "+df["TIME2"]
df["CCCC"]=pd.to_datetime(df["CCCC"])
df["CCCC"]=df["CCCC"].apply(lambda x: datetime.datetime.strftime(x, "%d/%m/%Y %H:%M:%S"))
df["CCCC"]=pd.to_datetime(df["CCCC"])

In [168]:
df

,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL,OPENINT,DATE2,TIME2,MOVE,STATUS,PERC,CCCC
0,20200831,153000,444.61,450.49,440.110,447.029,1766358,0,31/08/2020,15:30:00,-2.419,-1.0,-0.544072,2020-08-31 15:30:00
1,20200831,153500,447.04,447.80,441.210,442.160,661342,0,31/08/2020,15:35:00,4.880,1.0,1.091625,2020-08-31 15:35:00
2,20200831,154000,442.08,452.28,440.710,452.149,722964,0,31/08/2020,15:40:00,-10.069,-1.0,-2.277642,2020-08-31 15:40:00
3,20200831,154500,451.84,459.53,450.050,459.408,1570773,0,31/08/2020,15:45:00,-7.568,-1.0,-1.674929,2020-08-31 15:45:00
4,20200831,155000,459.20,461.00,455.500,456.410,1346307,0,31/08/2020,15:50:00,2.790,1.0,0.607578,2020-08-31 15:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2725,20201019,213500,431.83,433.04,431.700,432.885,334562,0,19/10/2020,21:35:00,-1.055,-1.0,-0.244309,2020-10-19 21:35:00
2726,20201019,214000,432.86,432.90,431.610,431.980,274050,0,19/10/2020,21:40:00,0.880,1.0,0.203299,2020-10-19 21:40:00
2727,20201019,214500,432.00,433.95,431.955,433.950,268830,0,19/10/2020,21:45:00,-1.950,-1.0,-0.451389,2020-10-19 21:45:00
2728,20201019,215000,433.95,434.12,432.240,432.600,380857,0,19/10/2020,21:50:00,1.350,1.0,0.311096,2020-10-19 21:50:00
2729,20201019,215500,432.60,432.85,430.410,430.830,1028440,0,19/10/2020,21:55:00,1.770,1.0,0.409154,2020-10-19 21:55:00

In [169]:
df_news=pd.read_csv("TeslaNews3.csv")
date=df_news["Dates"][0]


df_news['NewDates'] = pd.to_datetime(df_news['Dates'])
df_news['NewDates'] = df_news['NewDates'].dt.tz_localize('US/Eastern').dt.tz_convert('UTC')
df_news['NewDates'] = df_news['NewDates'].apply(lambda x: datetime.datetime.replace(x, tzinfo=None))

C:\ProgramData\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1206: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
C:\ProgramData\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1206: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [170]:
x=datetime.datetime.date(df_news["NewDates"][0])
print(x.strftime("%d/%m/%Y"))
print(type(x))

27/04/2020
<class 'datetime.date'>

In [171]:
df_news

,Unnamed: 0,Dates,Text,Link,NewDates
0,0,"Apr 27, 2020 11:51AM EDT",By C Nivedita and Medha SinghApril 27 (Reuters...,https://www.nasdaq.com/articles/wall-street-ga...,2020-04-27 15:51:00
1,1,"Apr 27, 2020 11:31AM EDT",This week looks set to be a big one for stocks...,https://www.nasdaq.com/articles/big-earnings-t...,2020-04-27 15:31:00
2,2,"Apr 27, 2020 11:24AM EDT",Shares of electric-car maker Tesla (NASDAQ: TS...,https://www.nasdaq.com/articles/why-tesla-stoc...,2020-04-27 15:24:00
3,3,"Apr 27, 2020 10:23AM EDT","\nIn early trading on Monday, shares of Tesla ...",https://www.nasdaq.com/articles/nasdaq-100-mov...,2020-04-27 14:23:00
4,4,"Apr 27, 2020 10:17AM EDT",(RTTNews) - Tesla has asked some employees to ...,https://www.nasdaq.com/articles/tesla-reported...,2020-04-27 14:17:00
...,...,...,...,...,...
1992,1992,"Dec 10, 2018 10:34AM EST","For Immediate ReleaseChicago, IL - December 10...",https://www.nasdaq.com/articles/zacks-investme...,2018-12-10 15:34:00
1993,1993,"Dec 10, 2018 9:42AM EST","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/short-squeezes...,2018-12-10 14:42:00
1994,1994,"Dec 10, 2018 9:25AM EST","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/mondays-vital-...,2018-12-10 14:25:00
1995,1995,"Dec 10, 2018 6:05AM EST",No other automaker -- and few companies of any...,https://www.nasdaq.com/articles/look-back-tesl...,2018-12-10 11:05:00
1996,1996,"Dec 10, 2018 3:25AM EST","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/10-wildest-sto...,2018-12-10 08:25:00

In [203]:
#df_news["Dates"]=datetime.strptime(df_news["Dates"],"%d/%m/%Y")
#df_news['NewDates'] = df_news['NewDates'].apply(lambda x: datetime.datetime.strftime(x, "%d/%m/%Y %H:%M:%S"))

#df_news.insert(0,"ID",range(0,len(df_news)))
df_news
df_temp=df_news[df_news.duplicated(subset=["NewDates"],keep=False)]
df_temp=df_temp.drop(["Link"],axis=1)
df_temp

,IDs,ID,Unnamed: 0,Dates,Text,NewDates
190,190,190,190,"Mar 20, 2020 9:51AM EDT","(RTTNews) - SpaceX, owned by Tesla founder Elo...",2020-03-20 13:51:00
191,191,191,191,"Mar 20, 2020 9:51AM EDT",Battleground stocks come in all flavors and in...,2020-03-20 13:51:00
377,377,377,377,"Feb 10, 2020 11:25PM EST","In the following analysis, we take a look at w...",2020-02-11 04:25:00
378,378,378,378,"Feb 10, 2020 11:25PM EST",Tesla (NASDAQ:TSLA) stock is up by almost 2.5x...,2020-02-11 04:25:00
404,404,404,404,"Feb 5, 2020 12:07PM EST",The First Trust NASDAQ Clean Edge Green Energy...,2020-02-05 17:07:00
...,...,...,...,...,...,...
1871,1871,1871,1871,"Jan 2, 2019 11:49AM EST",ReutersBy Sonam Rai and Nick CareyJan 2 () - T...,2019-01-02 16:49:00
1872,1872,1872,1872,"Jan 2, 2019 11:49AM EST",ReutersBy Sonam Rai and Nick CareyJan 2 () - T...,2019-01-02 16:49:00
1878,1878,1878,1878,"Jan 2, 2019 9:04AM EST",ReutersBy Sonam RaiJan 2 () - Tesla Inc shares...,2019-01-02 14:04:00
1879,1879,1879,1879,"Jan 2, 2019 9:04AM EST",ReutersBy Sonam RaiJan 2 () - Tesla Inc shares...,2019-01-02 14:04:00
1880,1880,1880,1880,"Jan 2, 2019 9:04AM EST",ReutersBy Sonam RaiJan 2 () - Tesla Inc shares...,2019-01-02 14:04:00

In [173]:
def add_minute(df):
    from datetime import date
    from dateutil.relativedelta import relativedelta
    minutes=[]

    for i in df:
        c=pd.to_datetime(i)
        after6M=c+relativedelta(minutes=+6)
        befor6M=c+relativedelta(minutes=-6)
        minutes.append([after6M,befor6M,i])
    return minutes
x=add_minute(df_news["NewDates"])
y=pd.DataFrame(x,columns=["After6M","Before6M","Original"])
f=pd.merge(df_news,y,on="NewDates")
f

KeyError: 'NewDates'

In [88]:
df_news.head()

,Unnamed: 0,Dates,Text,Link,NewDates,NewDates3M
0,0,"Apr 27, 2020 11:51AM EDT",By C Nivedita and Medha SinghApril 27 (Reuters...,https://www.nasdaq.com/articles/wall-street-ga...,27/04/2020 15:51:00,relativedelta(minutes=+6)
1,1,"Apr 27, 2020 11:31AM EDT",This week looks set to be a big one for stocks...,https://www.nasdaq.com/articles/big-earnings-t...,27/04/2020 15:31:00,relativedelta(minutes=+6)
2,2,"Apr 27, 2020 11:24AM EDT",Shares of electric-car maker Tesla (NASDAQ: TS...,https://www.nasdaq.com/articles/why-tesla-stoc...,27/04/2020 15:24:00,relativedelta(minutes=+6)
3,3,"Apr 27, 2020 10:23AM EDT","\nIn early trading on Monday, shares of Tesla ...",https://www.nasdaq.com/articles/nasdaq-100-mov...,27/04/2020 14:23:00,relativedelta(minutes=+6)
4,4,"Apr 27, 2020 10:17AM EDT",(RTTNews) - Tesla has asked some employees to ...,https://www.nasdaq.com/articles/tesla-reported...,27/04/2020 14:17:00,relativedelta(minutes=+6)

In [80]:
df_price=pd.read_csv("TSLA.csv")

In [88]:
pd.concat([df_news,df_price],axis=1,join="inner")

,Unnamed: 0,Dates,Text,Link,NewDates,Date,Open,High,Low,Close,Adj Close,Volume
0,0,"Oct 13, 2020 7:41AM EDT",Eikon search string for individual stock moves...,https://www.nasdaq.com/articles/buzz-u.s.-stoc...,13/10/2020,12/10/2010,4.040000,4.056000,4.006000,4.048000,4.048000,1220000
1,1,"Oct 13, 2020 7:11AM EDT","Back in 1993, when drugmaker Amarin's (NASDAQ:...",https://www.nasdaq.com/articles/the-top-2-cont...,13/10/2020,13/10/2010,4.128000,4.170000,4.072000,4.108000,4.108000,1591000
2,2,"Oct 13, 2020 7:06AM EDT",Electric vehicle pioneer Tesla (NASDAQ: TSLA) ...,https://www.nasdaq.com/articles/forget-tesla-i...,13/10/2020,14/10/2010,4.200000,4.206000,4.080000,4.150000,4.150000,1474000
3,3,"Oct 13, 2020 6:22AM EDT",Oct 13 (Reuters) - Tesla Inc TSLA.Osaid on Tue...,https://www.nasdaq.com/articles/tesla-cuts-pri...,13/10/2020,15/10/2010,4.178000,4.180000,4.050000,4.108000,4.108000,1423500
4,4,"Oct 13, 2020 5:28AM EDT","Adds details, backgroundBEIJING, Oct 13 (Reute...",https://www.nasdaq.com/articles/audi-to-launch...,13/10/2020,18/10/2010,4.104000,4.128000,4.044000,4.046000,4.046000,814000
...,...,...,...,...,...,...,...,...,...,...,...,...
966,966,"Aug 11, 2020 2:07PM EDT","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/electrameccani...,11/08/2020,14/08/2014,52.498001,52.599998,51.299999,52.276001,52.276001,20633000
967,967,"Aug 11, 2020 12:46PM EDT",Aspiring luxury electric vehicle (EV) maker Lu...,https://www.nasdaq.com/articles/lucid-motors-s...,11/08/2020,15/08/2014,52.296001,52.417999,51.700001,52.402000,52.402000,19339500
968,968,"Aug 11, 2020 11:10AM EDT","Adds executive quotes, updates share price mov...",https://www.nasdaq.com/articles/chinese-ev-mak...,11/08/2020,18/08/2014,52.650002,53.452000,51.950001,51.987999,51.987999,29246000
969,969,"Aug 11, 2020 10:52AM EDT","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/roku-stock-buy...,11/08/2020,19/08/2014,51.773998,51.866001,50.324001,51.352001,51.352001,26674000
970,970,"Aug 11, 2020 10:35AM EDT","InvestorPlace - Stock Market News, Stock Advic...",https://www.nasdaq.com/articles/heres-what-the...,11/08/2020,20/08/2014,50.933998,51.748001,50.599998,51.141998,51.141998,15139500