In [26]:
import pandas as pd
from Tools import *

In [47]:
dfDates=pd.read_csv("dfDates2.txt",header=None)
dfDates.columns=["bir","iki"]
dfDates=dfDates["bir"]+dfDates["iki"]

In [39]:
file1 = r'C:\Users\enesy\OneDrive\Okul\Tez\Codes\tez\getfinnews\dfText3.txt'

Lines=File.ReadFromFile(file1)
Lines2=Lines[0].split("╝")

In [40]:
str1=""
c=0
for i in Lines:
    str1+=i
str2=str1.split("╝")

In [41]:
dfText=pd.DataFrame(str2)

In [42]:
dfLinks=pd.read_csv("dfLink3.txt",header=None)

In [43]:
dfText.tail()

                                                      0
9596  Ford ( F ) reported an all time record pre-tax...
9597   InvestorPlaceInvestorPlace - Stock Market New...
9598   InvestorPlaceInvestorPlace - Stock Market New...
9599  Energy storage has finally captured the imagin...
9600

In [44]:
dfText.drop(dfText.tail(1).index,inplace=True)
dfText.tail()

                                                      0
9595  Tesla CEO Elon Musk introduces the Model X. So...
9596  Ford ( F ) reported an all time record pre-tax...
9597   InvestorPlaceInvestorPlace - Stock Market New...
9598   InvestorPlaceInvestorPlace - Stock Market New...
9599  Energy storage has finally captured the imagin...

In [45]:
dfDates.tail()

         bir                iki
9595  Apr 29    2016 3:43AM EDT
9596  Apr 29    2016 2:22AM EDT
9597  Apr 28   2016 11:44AM EDT
9598  Apr 28   2016 10:23AM EDT
9599  Apr 28   2016 10:00AM EDT

In [48]:
df=pd.concat([dfDates,dfText,dfLinks],ignore_index=True,axis=1)
df.columns=["Dates","Text","Link"]
df.to_csv("TeslaNews.csv",encoding="utf-8")

In [50]:
df.tail()

,Dates,Text,Link
9595,Apr 29 2016 3:43AM EDT,Tesla CEO Elon Musk introduces the Model X. So...,https://www.nasdaq.com/articles/mark-zuckerber...
9596,Apr 29 2016 2:22AM EDT,Ford ( F ) reported an all time record pre-tax...,https://www.nasdaq.com/articles/ford-posts-rec...
9597,Apr 28 2016 11:44AM EDT,InvestorPlaceInvestorPlace - Stock Market New...,https://www.nasdaq.com/articles/alphabet-inc%3...
9598,Apr 28 2016 10:23AM EDT,InvestorPlaceInvestorPlace - Stock Market New...,https://www.nasdaq.com/articles/apple-inc.-aap...
9599,Apr 28 2016 10:00AM EDT,Energy storage has finally captured the imagin...,https://www.nasdaq.com/articles/lockheed-marti...

In [51]:
from gensim.models import KeyedVectors
model = gensim.models.KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)

NameError: name 'gensim' is not defined